{% extends "_shared/templates/website.njk" %}

{% block content %}
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="jagermeister_dev"
  agent-id="a8393b73-23ac-4943-bbce-aa14a1172a2e"
  language-code="en"
></df-messenger>
{% endblock %}
