{% extends "_shared/templates/website.njk" %}

{% block content %}

<section class="demo">
  <div class="playground"></div>
</section>

<script type="text/javascript">
  window.onSDKLoad = function() {
    SDK.demo({
      el: '.playground'
    });
  };
</script>

{% endblock %}
